*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar{
    background: rgba(0, 0, 0, 0.435);
    padding-left: 15px;
    padding-right: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 30px;
}
.list{
    display: flex;
    margin-right: 10px;
}
.list li{
    margin-right: 70px;
}